.container-fluid{
  margin: 0px;
  padding: 0px;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
}
.row{
  width: 100%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}
body, div{
  margin: 0px;
  padding: 0px;
}
body{
  margin: auto;
  width: 1440px;
}
input, textarea{
    max-width: 100%;
} 
.header{
  background-image: url('../images/DSC00336.png');
  background-position: center;
  height: 883px;
}
.txt_slogan{
  width: 822px;
  height: 148px;
  margin: auto;
  margin-top: 300px;
  font-family: Lora;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}
/* Regions*/
.maincontent{
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  /* box-shadow: 0 0 3px 1px #ccc; */
  min-height: 500px;
}

.user-login-box{
  border-radius: 3px;
  background: #fff;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px #ccc;
}

/* Menu */

.menutoggle{
  width: 36px;
  height: 36px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 20px;
  top:25px;
  font-size: 20px;
  display:none;
}

#account-menu {
  padding:0px 0px;
  /* margin-top: 10px; */
  border-bottom: none;
  float: right;
  list-style: none;
}
#account-menu li{
  padding:0px 10px;
  margin-top: 10px;
  border-bottom: none;
  float: left;
  list-style: none;
}
#account-menu li a{
  padding:0px 0px;
  float: left;
  display: block;
  position: relative;
}
#account-menu ul{
  width: auto;
  float:left;
  list-style: none;
  margin: 0;
  padding: 0 0px;
}

/* Footer */
.main-site-footer{
  bottom: 0px;
  padding: 10px 0px;
  background-color: #F4F0EA;
  margin-top: 40px;
}

.footer_top_row{
  margin-top: 30px;
}
.footer_left_slide{
  width: 306;
  height: 298.9677429199219;
  top: 49px;
  left: 49px;
  gap: 34px;
  margin-left: 30px;
}
.footer_right_slide{
  width: 712;
  height: 172;
  top: 48px;
  left: 681px;
  gap: 43px;  
}
.footer_bottom_row{
  width: 1344;
  height: 22;
  top: 372px;
  left: 49px;
  justify-content: space-between;

}
.footer_btn_subscribe{
  width: 180;
  height: 46;
  gap: 8px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 50px;
  padding-bottom: 16px;
  padding-left: 50px;

}
.footer_right_slide, .footer_left_slide{
  display: inline-block;
}
.footer_right_slide{
  vertical-align: top;
  float: right;
}
.footer_right_slide ul{
  display: grid; 
  grid-template-columns: 127px 127px 127px 127px; 
  padding: 0;     
  margin: 0;
}
.footer_right_slide ul li {
  list-style: none;  
  text-align: left; 
}
.footer_bottom_left_languages{
  display: inline-block;
  margin-left: 30px;
}
.footer_bottom_right_links{
  display: inline-block;
  float: right;
}
.footer_bottom_right_links ul li{
  display: inline;
  padding: 8px;
  list-style: none;
}
.footer_bottom_right_links ul li a{
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #797E7E;
}
/* Toggle Main Menu */
.buttonToggleMainMenu{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994; background-color: blue;}
.buttonToggleMainMenu:after{position:absolute;top:22px;right:16px;display:block;height:8px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.buttonToggleMainMenu:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:16px;display:block;height:2px;width:20px;background:#ddd;content:''}
.buttonToggleMainMenu.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.buttonToggleMainMenu.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.toggleMainMenu{
    position: relative;
    display: none;
    height: 46px;
    background: black;
}

@media screen and (max-width:768px){
  .container-fluid2{
      width: 100%;
      padding: 0px;
      margin: 0px;
  }
  
  .row{
      width: 100%;
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
  }

  .toggleMainMenu{
      display: block;
  }
  .txt_slogan{
    width: 80%;
    height: 148px;
    margin: auto;
    margin-top: 200px;
    font-family: Lora;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
  }
  .maincontent{
    min-height: 300px;
  }
  .footer_right_slide {
    width: 100%;
  }
  .footer_right_slide ul{
    display: grid; 
    grid-template-columns: 200px 200px ; 
    padding: 0;     
    margin: 0;
    margin-left: 30px;
  }

}